{% extends "layout.html" %}
{% block content %}
    <h1>About US</h1>
    <br>
    <h5>Managing and remembering detailed information about scheduled events can be challenging, especially for users with busy schedules. Traditional calendar entries often lack the capability to store comprehensive notes and additional context, making it difficult to recall critical details at the time of the event.</h5> <br>
    <h5>Some people may prefer these solutions.<br> <br>Others may want something more straightforward.<br> <br>What if an individual wanted an easy to use notes app with simpler calendar integration. </h5>
{% endblock content %}