
{% extends "layout.html" %}
{% block content %}
<h1>Create New Event</h1>
    <div class = "feedback-input">
    <form action="{{ url_for('create_event') }}" method="post">
        <label for="summary">Event Title:</label>
        <input type="text" name="summary" class="feedback-input" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" class= "feedback-input" required></textarea><br>

        <label for="start">Start Date and Time:</label>
        <input type="datetime-local" id="start" name="start" required><br>

        <label for="end">End Date and Time:</label>
        <input type="datetime-local" id="end" name="end" required><br>

        <button type="submit">Create Event</button>
    </form>
    </div>
    <!-- <a href="{{ url_for('logout') }}">Logout</a> -->
{% endblock content %}