{% extends "layout.html" %}

{% block content %}
<h1>Let's Tweet</h1>
    <div>
    
        <form action="/check" method="POST">
            <input type="text" name="email" class="feedback-input" placeholder="Email">
            <input type="text" name="pass"  class="feedback-input" placeholder="Password">
            <input type="submit" value="Log In">
        </form>
    </div>
    <div>
        <form action="/login" method ="GET">
            <input type="submit" value="Log In">
        </form>
    </div>
    <div>
        <form action="/register" method="GET" >
            <input type="submit" value="Create an Account">
        </form>
    </div>
{% endblock content %}

